.logo {
  color: #000000;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 2;
}

.container-img .title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 26px;
  line-height: 42px;
  letter-spacing: 0.06rem;
  text-transform: uppercase;
}

.container-features p {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
}

.section-title {
  font-family: Roboto;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03rem;
}

.team-list .title, .team-list .text {
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03rem;
}

.heading-modal {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
}

.form-input:focus ~ .icon {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
}

.form-label {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
}

.button-bar, .submit-button {
  min-width: 200px;
  border: none;
  outline: none;
  cursor: pointer;
  color: #ffffff;
  background-color: #2196f3;
  font-family: Roboto;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
  letter-spacing: 0.06rem;
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body {
  color: #757575;
  background-color: #ffffff;
  font-family: Roboto sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03rem;
}

.style-header {
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.02rem;
}

.text-style {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding: 0 15px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
}

/* logo */
.logo-text {
  color: #2196f3;
}

/* Site header */
/* Said bar */
.container-img {
  width: 100%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  height: 400px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8))), url(../images/main/Header.jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url(../images/main/Header.jpg);
}

@media screen and (min-width: 480px) {
  .container-img {
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container-img {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container-img {
    height: 600px;
    background-position: center;
    max-width: 1600px;
  }
}

.container-img .hero {
  position: absolute;
  padding-top: 118px;
  padding-bottom: 118px;
  top: 50%;
  left: 50%;
  width: 100%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

.container-img .title {
  display: block;
  margin-top: 0px;
  margin-bottom: 30px;
  color: #ffffff;
}

.button-bar {
  margin-left: auto;
  margin-right: auto;
  padding: 10px 31px;
  border-radius: 6px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* features */
.container-features {
  padding-top: 60px;
  padding-bottom: 60px;
}

.features-list .item {
  display: block;
}

.features-list .item:not(:last-child) {
  margin-bottom: 30px;
}

.item-img {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  width: 100%;
  height: 120px;
  border-radius: 4px;
  background-color: #f5f4fa;
}

.features-img {
  margin: auto;
  height: 100%;
}

.features-list .title {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 0px;
}

.container-features p {
  display: block;
  margin-top: 10px;
  margin-bottom: 0px;
}

.features-list .title,
.subtitle,
.footer-text {
  color: #212121;
}

/* specialization */
@media screen and (max-width: 767px) {
  .specialization {
    display: none;
  }
}

.section .container {
  padding: 94px 15px;
}

.section-title {
  margin-top: 0px;
  margin-bottom: 50px;
  color: #212121;
}

.specialization-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.specialization-list .item {
  position: relative;
  margin-bottom: 30px;
}

.specialization-list .item:not(:last-child) {
  margin-right: 30px;
}

.specialization-list .text {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-top: 0;
  margin-bottom: 0;
  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.14;
  font-size: 14px;
  background-color: rgba(47, 48, 58, 0.8);
  color: #ffffff;
  text-align: center;
}

/* Our team */
.team {
  background-color: #f5f4fa;
}

.team-list {
  list-style: none;
}

.team-list .title {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 0px;
  color: #212121;
  font-weight: 500;
}

.team-list .item {
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
}

.team-list .item:not(:last-child) {
  margin-bottom: 30px;
}

.team-list .text {
  margin-top: 10px;
  margin-bottom: 0px;
}

.socials {
  padding: 16px 122px 24px;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.socials-item:not(:last-child) {
  margin-right: 10px;
}

.link-socials {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  cursor: pointer;
  color: #afb1b8;
}

.link-socials:hover, .link-socials:focus {
  background-color: #2196f3;
  color: #ffffff;
}

.socials-icon {
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: auto;
  width: 20px;
  height: 20px;
  fill: currentColor;
}

/* footer */
.backdroup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 33, 33, 0.2);
}

.backdroup.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  padding: 40px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.heading-modal {
  margin: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: #212121;
}

.form {
  width: 448px;
  margin-top: 30px;
}

.form-field {
  position: relative;
  display: block;
  margin-bottom: 28px;
}

.form-comment {
  margin-bottom: 20px;
}

.form-input {
  width: 100%;
  height: 40px;
  margin: 0;
  padding: 12px 42px;
  background-color: #ffffff;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline-color: #2196f3;
}

.form-input:focus + .form-label,
.form-input:not(:placeholder-shown) + .form-label {
  -webkit-transform: translate(-16px, -40px);
          transform: translate(-16px, -40px);
  color: #2196f3;
}

.form-input:focus ~ .icon {
  fill: #2196f3;
}

.form-label {
  position: absolute;
  top: 50%;
  left: 42px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  padding-left: 8px;
  color: #757575;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon {
  position: absolute;
  top: 50%;
  left: 16px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: inline-block;
}

.input-comment {
  position: relative;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  margin: 0;
  resize: none;
}

.comment-label {
  top: 18px;
  left: 16px;
  position: absolute;
}

.form-field:focus-within > .comment-label,
.form-input:not(:placeholder-shown) + .comment-label {
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: #2196f3;
  -webkit-transform: translateY(-37px);
          transform: translateY(-37px);
}

.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.icons {
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 7px;
  border: 2px solid #212121;
  border-radius: 2px;
}

.checkbox:checked + .icons {
  background-color: #2196f3;
  background-image: url("../images/main/Vectorcheck.svg");
  background-size: contain;
  background-origin: border-box;
  border-color: #2196f3;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.label-checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 14px;
  margin-bottom: 30px;
}

.privacy-text {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #757575;
}

.form-link {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #2196f3;
}

.close-modal {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30px;
  height: 30px;
  top: 0;
  right: 0;
  margin-top: 8px;
  margin-right: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 50px;
  padding: 6px 6px;
  background: #ffffff;
  cursor: pointer;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-modal:focus, .close-modal:hover {
  fill: #2196f3;
}

.submit-button {
  position: absolute;
  margin-left: 134px;
  min-height: 50px;
  padding: 10px 55px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.submit-button:hover, .submit-button:focus {
  background-color: #188ce8;
}
/*# sourceMappingURL=main.css.map */