/* footer */

.footer {
  background-color: $bg-color-footer;
}
.container-footer {
  @media screen and (min-width: 768px) {
    width: 768px;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-around;
  }
}
.logo-footer {
  display: block;
  padding-top: 60px;
  @extend %logo-footerStyleTitle;
}

.footer-info {
  padding-top: 60 px;
  text-align: center;
}

.footer-address {
  margin-top: 20px;
  margin-bottom: 8px;
  @extend %features-styleTitle;
  color: $primary-fon-color;
}

.footer-contact a {
  @extend %features-styleTitle;
  color: rgba(255, 255, 255, 0.6);
  display: block;
  margin-bottom: 8px;
  margin-left: 0px;
  padding: 0px;
}

.footer-link {
  text-align: center;
  padding-top: 60px;

  & h3 {
    color: $primary-fon-color;
    margin: auto;
  }
  & .item {
    @extend %list;
    padding-top: 20px;
  }
}

.footer-links {
  transition: background-color 250ms $timeFunction;
  &:not(:last-child) {
    margin-right: 10px;
  }

  & .link-socials {
    background-color: rgba(255, 255, 255, 0.1);
  }
}

.footer-links:hover *,
.footer-links:focus * {
  background-color: $accent-color;
}

.footer-form {
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-text {
  color: $primary-fon-color;
  margin: auto;
  padding-bottom: 20px;
}

.input-form {
  width: 100%;
  height: 50px;
  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  @extend %input-formFooterStyleTitle;
}

.button-footer {
  @extend %button;
  display: inline-flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  height: 50px;
  padding: 0px 28px 0px 29px;
  border-radius: 4px;

  &:hover,
  &:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}

.tellegram-icon {
  margin-left: 10px;
  fill: currentColor;
}

// .footer {
//   background-color: $bg-color-footer;
//   padding: 48px 0px 28px;
// }

// .container-footer {
//   display: flex;
//   justify-content: space-between;
//   align-items: baseline;
// }

// .logo-footer {
//   @extend %logo-footerStyleTitle;
// }

// .footer-address {
//   margin-top: 0px;
//   @extend %features-styleTitle;
//   color: $primary-fon-color;
// }

// .footer-contact {
//   font-style: inherit;

//   color: rgba(255, 255, 255, 0.6);
//   & a {
//     display: block;
//     margin-top: 9px;
//     margin-left: 0px;
//     padding: 0px;
//   }
// }

// .footer-link h3 {
//   color: $primary-fon-color;
// }

// .footer-link .item {
//   display: flex;
// }

// .footer-links {
//   transition: background-color 250ms $timeFunction;
//   &:not(:last-child) {
//     margin-right: 10px;
//   }

//   & .link-socials {
//     background-color: rgba(255, 255, 255, 0.1);
//   }
// }

// .footer-links:hover *,
// .footer-links:focus * {
//   background-color: $accent-color;
// }

// .footer-text {
//   color: $primary-fon-color;
//   margin-bottom: 0px;
// }

// // Форма  футера

// .input-form {
//   width: 358px;
//   height: 50px;
//   margin-right: 10px;
//   padding-left: 16px;
//   background-color: #2f303a;
//   border: 1px solid rgba(255, 255, 255, 0.3);
//   box-sizing: border-box;
//   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
//   border-radius: 4px;

//   @extend %input-formFooterStyleTitle;
// }

// .button-footer {
//   @extend %button;
//   display: inline-flex;
//   align-items: center;
//   margin-left: auto;
//   margin-right: auto;
//   margin-top: 20px;
//   height: 50px;
//   padding: 0px 28px 0px 29px;
//   border-radius: 4px;

//   &:hover,
//   &:focus {
//     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
//   }
// }

// .tellegram-icon {
//   margin-left: 10px;
//   fill: currentColor;
// }
