.portfolio-list {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
  padding-top: 25px;
}

.portfolio-list .item {
  margin: 15px;
}

.card-img {
  display: block;
  max-width: 100%;
  height: auto;
}

.card-content .title {
  margin-top: 0px;
  margin-bottom: 4px;
  @extend %portfolio-cardStyleTitle;
  color: $title-text-color;
}

.card-content {
  padding: 20px 24px;
  border-left: 1px solid $card-border;
  border-right: 1px solid $card-border;
  border-bottom: 1px solid $card-border;
  box-sizing: border-box;

  background: $primary-fon-color;
  & .caption {
    margin-top: 0px;
    margin-bottom: 0px;
    @extend %portfolio-captionStyleTitle;
    color: $primary-text-color;
  }
}

.project-card {
  position: relative;
  overflow: hidden;
}

.content-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms $timeFunction;

  .portfolio-list .item:hover & {
    transform: translateY(0);
  }
  & .text {
    display: block;
    padding: 77px 24px;
    margin: auto;
    @extend %portfolio-contentStyleTitle;
    color: $primary-fon-color;
  }
}

// .section-portfolio {
//   width: 1230px;
//   padding-left: 15px;
//   padding-right: 15px;
//   padding-bottom: 94px;
//   margin-left: auto;
//   margin-right: auto;
//   margin-top: 34px;
// }

// .portfolio-list {
//   display: flex;
//   flex-wrap: wrap;
// }

// .portfolio-list .item {
//   width: 370px;
//   margin-right: 30px;
//   margin-bottom: 30px;

//   &:nth-child(3n) {
//     margin-right: 0;
//   }

//   &:nth-last-child(-n + 3) {
//     margin-bottom: 0;
//   }
//   &:hover,
//   &:focus {
//     box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06),
//       0px 1px 1px rgba(0, 0, 0, 0.12);
//   }
// }

// .card-img {
//   display: block;
//   max-width: 100%;
//   height: auto;
// }

// .card-content .title {
//   margin-top: 0px;
//   margin-bottom: 4px;
//   @extend %portfolio-cardStyleTitle;
//   color: $title-text-color;
// }

// .card-content {
//   padding-left: 24px;
//   padding-right: 24px;
//   padding-top: 20px;
//   padding-bottom: 20px;

//   border-left: 1px solid $card-border;
//   border-right: 1px solid $card-border;
//   border-bottom: 1px solid $card-border;
//   box-sizing: border-box;

//   background: $primary-fon-color;
//   & .caption {
//     margin-top: 0px;
//     margin-bottom: 0px;
//     @extend %portfolio-captionStyleTitle;
//     color: $primary-text-color;
//   }
// }

// .project-card {
//   position: relative;
//   overflow: hidden;
// }

// .content-overlay {
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   background-color: rgba(33, 150, 243, 0.9);
//   transform: translateY(100%);
//   transition: transform 250ms $timeFunction;

//   .portfolio-list .item:hover & {
//     transform: translateY(0);
//   }
//   & .text {
//     display: block;
//     padding-top: 63px;
//     padding-right: 24px;
//     padding-bottom: 63px;
//     padding-left: 24px;
//     @extend %portfolio-contentStyleTitle;
//     color: $primary-fon-color;
//   }
// }
