$primary-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196f3;
$bg-color-footer: #2f303a;
$primary-fon-color: #ffffff;
$address-text-color: #757575;
$link-text-color: #212121;
$border-color: #f5f4fa;
$card-border: #eeeeee;
$social-link: #afb1b8;
$social-link-accent: #ffffff;
$social-item-accent: #2196f3;
$background-modal-form: rgba(33, 33, 33, 0.2);
$main-modal-form: #ffffff;
$background-color-sub-button: #188ce8;
$logo-color: #000000;
$timeFunction: cubic-bezier(0.4, 0, 0.2, 1);
$mobile: 480px;
$tablet: 768px;
$desktop: 1600px;
